.admin-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.admin-page {
  background-image: url('https://drive.google.com/uc?export=view&id=1QasQHkXQwnUYo6xeGuQxBRNjVVVpkUG4');
  background-position: center;
  background-color: rgba(240,230,241,0.75);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: lighten;
}

.admin-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.admin-header {
  display: flex;
  width : 100%;
  position: fixed;
  top: 0;
  background-color: #B886BC;
}

.navigation p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.header-icon {
  margin: 0 20px;
  transition: 0.3s;
}

.header-icon:hover {
  cursor: pointer;
  transform: translate(0px, -3px);
}

.navigation {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.admin-section a:hover {
  text-decoration: none;
}


.navigation-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px #B886BC;
  width: 120px;
  height: 90px;
  padding: 15px;
  margin: 20px;
}

.navigation-item .nav-icon {
  color: #B63273;
  transition: 0.15s;
}

.navigation-item hr {
  color: black;
  margin-top: 1px;
  width: 0px;
  opacity: 0;
  transition: width 0.5s;
}

.navigation-item:hover hr {
  width: 70%;
  opacity: 1;
}

.navigation-item:hover .nav-icon {
  transform: translate(0px, -5px);
}

.navigation-item p {
  color: rgb(73, 72, 72);
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

