html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body {
  background-color: #984c9c23;
}

.alert {
  position: absolute;
}

/* carrousel  */

.carrousel-container {
  z-index: -1;
}

.carrousel-image {
  width: 100% !important;
  height: unset !important;
}

/* media */

@media (max-width: 620px) {
  .devs-container {
    display: none;
  }
}
