.main-header {
  display: flex;
  width : 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header {
  width: 100%;
}

.css-hyum1k-MuiToolbar-root {
  background-color: #B886BC;
  display: flex;
  justify-content: space-between;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding-top: 5px;
}

.logo img {
  align-self: center;
}

.logo p {
  margin: 0;
  color: #BB2E6D;
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 500px;
}

.wide-categories-container {
  position: relative;
  top: -2px;
  display: flex;
  height: 40px;
  background-color: #B886BC;
  justify-content: space-around;
  align-items: center;
}

.wide-categories-container p, .wide-categories-container hr {
  margin: 0;
  padding: 0;
}

.wide-categories-container hr {
  width: 0;
  opacity: 0;
  transition: width 0.1s;
}

.wide-categories-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 17px;
}

.wide-categories-container button:hover hr {
  width: 100%;
  opacity: 1;
}

.wide-categories-container button:hover {
  cursor: pointer;
}

.category-selection-header {
  margin: 0px 10px;
}

.search-bar-header {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header {
  display: flex;
  background-color: #B886BC;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 620px) {
  .category-text {
    display: none;
  }

}
