.product-section {
  position: relative;
  top: 60px;
}

.add-product-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-info-container {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.products-page {
  width: 100%;
  background-image: url('https://drive.google.com/uc?export=view&id=1QasQHkXQwnUYo6xeGuQxBRNjVVVpkUG4');
  background-position: center;
  background-color: rgba(240,230,241,0.75);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: lighten;
  position: relative;
  top: 100px;
}

.product-basic-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 300px;
  margin: 0 15px;
}

.form-control {
  margin-top: 0;
}

.product-basic-info p {
  margin: 10px;
  font-size: 20px;
}

.size-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 15px;
}

.size-info button {
  align-self: center;
}

.quantity-selection {
  margin: 0;
  margin-bottom: 10px;
}

.size-info p {
  margin: 10px;
  font-size: 20px;
}

.add-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 300px;
  margin: 0 15px;
}

.image-info p {
  margin: 10px;
  font-size: 20px;
  align-self: flex-start;
}

.add-product-btn {
  background-color: #984c9c;;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
  width: 200px;
  align-self: center;
}

.finish-btn {
  margin-bottom: 25px;
}

.add-product-btn:hover {
  background-color: #984c9c;
}


.image-div {
  display: flex;
  background-color: white;
  padding: 17px 10px;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  height: 180px;
  box-shadow: 3px 3px #B886BC;
}

.preview-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filte-box {
  margin-top: 50px;
}

.delete-icon {
  color: white;
}

.edit-icon {
  color:  #984c9c
}

.edit-icon:hover {
  color: rgb(233, 180, 6);
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

.delete-icon-table {
  color: #984c9c;
}

.delete-icon-table:hover {
  color: red;
  cursor: pointer;
}

.thumb-icon {
  position: relative;
  top: -156px;
  right: 12px;
  color: green;
}

.remove-product {
  background-color: #984c9c;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-product:hover {
  background-color: #984c9c;
}

.table-size-container, .table-products-admin {
  box-shadow: 3px 3px #B886BC;
  background-color: rgba(255, 255, 255, 0.75);
}

.table-products-admin {
  width: 90%;
  margin: auto;
}

.table-products-admin th {
  background-color: #984c9c;
  color: white;
  font-weight: bold;
}

.table-products-admin tr {
  box-shadow: 0 2px #B886BC;
  font-weight: bold;
}

.table-products-admin tr:hover {
  background-color: #B886BC;
}

.table-row-admin:hover tr,
.table-row-admin:hover .delete-icon-table,
.table-row-admin:hover .edit-icon {
  color: white;
}

.table-size-container tr {
  box-shadow: 0 2px #B886BC;
  font-weight: bold;
}

.table-size-container th {
  background-color: #984c9c;
  color: white;
  font-weight: bold;
}

.text-field {
  height: 150px;
}

.size-quantity {
  width: 300px;
  align-self: center;
}

.link-image-field {
  width: 300px;
}

.size-th {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.drop-down:hover {
  transform: translateY(-1px);
  cursor: pointer;
}

.drop-down:active {
  transform: rotate(180deg);
  cursor: pointer;
}

.menu-list {
  position: relative;
}

.add-product-icon {
  position: fixed;
  bottom: 50px;
  right: 10px;
  transition: transform 0.5s;
}

.add-product-icon:hover {
  transform: translateY(-3px);
}

.add-product-icon:active {
  transform: translateY(-3px);
}

.filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.category-selection {
  margin: 10px;
}

/* .category-selection label {
  position: relative;
  top: 22.4px;
  left: 2px;
} */

.category-selection div {
  padding: 3px;
  width: 133px;
}

.table-products-admin::-webkit-scrollbar {
  height: 7px;
}

.table-products-admin::-webkit-scrollbar-thumb {
  background: #984c9c;
  border-radius: 5px;
}

.table-products-admin::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #B886BC;
  border-radius: 10px;
}

.category-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-selection {
  height: 35px;
}

.search-bar-admin {
  background-color: rgba(255, 255, 255, 0.618);
}

@media (min-width: 1360px) {
  .products-page {
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .filter-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .category-filter {
    margin-bottom: 10px;
  }

  .category-selection {
    height: 25px;
  }

  .search-bar-admin {
    width: 300px;
  }

}
