.sizes-page {
  width: 100%;
  height: 100vh;
  background-image: url('https://drive.google.com/uc?export=view&id=1QasQHkXQwnUYo6xeGuQxBRNjVVVpkUG4');
  background-position: center;
  background-color: rgba(240,230,241,0.75);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: lighten;
  position: relative;
  top: 100px;
}
